:root {
  --backgroung-color: #8f57fd;
  --min-width: 320px;
  --max-width: 1800px;
  --font-color: #ffffff;
  --font-family: "Muli", sans-serif;
  --main-font-weigth: 530;
  --secondary-font-weigth: 530;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: var(--backgroung-color);
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  font-family: var(--font-family);
}
header {
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 130px;
  height: 42.4px;
}
.header__menu {
  position: relative;
}
.header__menu ul {
  display: none;
  width: max-content;
  position: absolute;
  right: 0;
  text-align: right;
}
.header__menu ul li {
  margin: 10px 0;
}
.header__menu ul a {
  font-size: 14px;
  color: var(--font-color);
  font-weight: var(--secondary-font-weigth);
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu--profile {
  display: flex;
  align-items: center;
}
.header__menu--profile > img {
  width: 40px;
  height: 40px;
}
.header__menu--profile > p {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: var(--secondary-font-weigth);
  margin-left: 5px;
}
.buscador {
  margin-top: 65px;
  color: var(--font-color);
}
.buscador-contenedor {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
.buscador-contenedor__titulo {
  font-size: 2rem;
}
.buscador-contenedor__input {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 20px;
  font-weight: var(--secondary-font-weigth);
  border: 2px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
input,
select,
textarea {
  color: var(--font-color);
  font-weight: var(--secondary-font-weigth);
}

::placeholder {
  color: var(--font-color);
  opacity: 1;
  font-weight: var(--secondary-font-weigth);
}
.overscroll {
  margin-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
.overscroll__container {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.overscroll__container .overscroll__box {
  scroll-snap-align: center;
  min-width: 200px;
  min-height: 170px;
  margin: 0 15px;
  margin-bottom: 30px;
  transition: 450ms all;
  transform-origin: center left;
  padding: 20px 0;
}
.overscroll__container .overscroll__box-item {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  cursor: pointer;
  background-color: black;
  overflow: hidden;
}
.overscroll__box:hover ~ .overscroll__box {
  transform: translate3d(50px, 0, 0);
}
.overscroll__container:hover .overscroll__box {
  opacity: 0.3;
}
.overscroll__container:hover .overscroll__box:hover {
  margin-right: 70px;
  transform: scale(1.3);
  opacity: 1;
}
