header {
  padding: 30px 30px 0 30px;
}
.header__logo {
  width: 195px;
  height: 63.6px;
}
.header__menu--profile img {
  width: 60px;
  height: 60px;
}
.header__menu--profile p {
  font-size: 2.25rem;
}
.header__menu ul a {
  font-size: 2.2rem;
}
.buscador-contenedor {
  margin-top: 70px;
}
.buscador-contenedor__titulo {
  font-size: 2.5rem;
}
.buscador-contenedor__input {
  margin-top: 40px;
  height: 50px;
  border-radius: 30px;
}
input,
select,
textarea {
  font-size: 2rem;
}

::placeholder {
  font-size: 2rem;
}
.overscroll__container {
  overflow-x: scroll;
  overscroll-behavior-x: none;
  scroll-snap-type: none;
}
.overscroll-title {
  font-size: 2.5rem;
}
.overscroll__container .overscroll__box {
  min-width: 230px;
  height: 241.5px;
}
.margenes{
  margin-top: 66.4px;
  margin-bottom: 58.1px;
}
.contact-list > li,
.contact-list a {
  font-size: 2.5rem;
}
/* .overscroll {
  margin-bottom: 120px;
} */
::-webkit-scrollbar{
  height: 150px;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border: 70px solid #8f57fd;
  border-radius: 999px;
}
::-webkit-scrollbar:vertical
{
  display: none;
}